@(message: String)(implicit request: RequestHeader)

@main(message) {
    <div id="tweets"></div>
    <script type="text/javascript">
        function appendTweet(text) {
            var tweet = document.createElement("p");
            var message = document.createTextNode(text);
            tweet.appendChild(message)
            document.getElementById("tweets").appendChild(tweet);
        };

        function connect(attempt) {
            var connectionAttempt = attempt;
            var url = "@routes.Application.tweets().webSocketURL()";
            var tweetsSocket = new WebSocket(url);

            tweetsSocket.onmessage = function(event) {
                console.log(event);
                var data = JSON.parse(event.data);
                appendTweet(data.source);
            };

            tweetsSocket.onopen = function() {
                tweetsSocket.send("subscribe");
                connectionAttempt = 1;
            };

            tweetsSocket.onclose = function() {
                if (connectionAttempt <= 3 ) {
                    appendTweet("WARNING: Lost server connection, attempting to reconnect. Attempt number " + connectionAttempt);
                    setTimeout(function() {
                        connect(connectionAttempt + 1);
                    }, 5000);
                } else {
                    alert("The connection with the server was lost");
                }
            };
        };

        connect(1);
    </script>

}
